<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nameless.autoupdating">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".services.NotifyService" />
        <service android:name=".services.CallService" />

        <service android:name=".services.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receivers.StartMyServiceAtBootReceiver"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.startServices" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.StartNotifyServiceReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="android.intent.action.RestartNotificationService" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.StartCallNotificationServiceReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="android.intent.action.RestartCallNotificationService" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".generalModules.GlobalMenu" />
        <activity android:name=".activities.Authentification"
            android:theme="@style/BlackActionBar" />
        <activity
            android:name=".activities.UserList"
            android:label="@string/app_name"
            android:theme="@style/BlackActionBar">
            <!--android:label="List of users">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--android:windowSoftInputMode="adjustPan"-->
        <activity
            android:name=".activities.Chat"
            android:theme="@style/BlackActionBar" />
        <activity android:name=".activities.ImageViewer" />
        <activity
            android:name=".activities.VoiceCalling"
            android:label="@string/title_activity_voice_calling"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Settings"
            android:theme="@style/BlackActionBar" />
        <activity
            android:name=".activities.AlienPage"
            android:theme="@style/BlackActionBar" />
        <activity android:name=".activities.VideoPlayer" />
    </application>

</manifest>